*{
  font-family: Arial, Helvetica, sans-serif;
}

.error-404{
  display: flex;
  justify-content: center;
  height: 100vh;
}

.container-error{
  align-self: center;
  margin-left: 20px;
}

.error-image{
  width: 180px;
}

.error-title{
  font-size: 120px;
  font-weight: bold;
}

.error-description{
  font-size: 30px;
  font-weight: bold;
}